@import url("../Task-4/Styles/zero_style.css");
@import url("../Task-4/Styles/header.css");
@import url("../Task-4/Styles/main-info.css");
@import url("../Task-4/Styles/section-1.css");
@import url("../Task-4/Styles/section-2.css");
@import url("../Task-4/Styles/section-3.css");
@import url("../Task-4/Styles/section-4.css");
@import url("../Task-4/Styles/section-5.css");
@import url("../Task-4/Styles/section-6.css");
@import url("../Task-4/Styles/section-7.css");
@import url("../Task-4/Styles/section-8.css");
@import url("../Task-4/Styles/footer.css");
@import url("../Task-4/Styles/media.css");
* {
    font-family: "Hind", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}
.wrapper-1__container {
    background-image: url("../Task-4/Assets/1920x1080/01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 100%;
    transition: right 0.4s ease-in-out;
}
.wrapper-2__container {
    background-image: url("../Task-4/Assets/1920x1080/02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 100%;
    transition: left 0.4s ease-in-out;
}
.wrapper-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.wrapper-2 {
    width: 100%;
    background-color: #fafafa;
    min-height: 500px;
    padding: 30px 0;
    display: flex;
    align-items: center;
}
.wrapper-3 {
    width: 100%;
    min-height: 500px;
    background-color: #ffffff;
}
.wrapper-4 {
    width: 100%;
    background-color: #fafafa;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-5 {
    background-color: #ffffff;
    height: 350px;
    display: flex;
    align-items: center;
}
.wrapper-6 {
    width: 100%;
    height: 550px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper-7 {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}
.wrapper-8 {
    width: 100%;
    height: 800px;
    background-color: #fafafa;
}
.wrapper-9 {
    width: 100%;
    height: 623px;
    background-image: url("../Task-4/Assets/1920x1080/03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
