.section-3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-3 img {
    opacity: 0.5;
    transition: 0.4s;
}
.section-3 img:hover {
    opacity: 1;
    transition: 0.4s;
}
