.section-2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-2__h2 {
    font-size: 35px;
    font-weight: 600;
    color: #4f5668;
}
.section-2__h2--position {
    margin-bottom: 25px;
    margin-top: 20px;
}
.section-2__text {
    color: #afaaae;
}
.section-2__text--position {
    margin-bottom: 15px;
}
.card {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card img {
    width: 350px;
    height: 200px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__h2 {
    font-size: 25px;
    color: #4f5668;
    transition: 0.3s;
}
.card__h2:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.card__span {
    color: #afaaae;
    text-transform: uppercase;
}
.card__h2--position {
    margin-right: 20px;
}
.card__text {
    width: 350px;
    color: #7f859d;
}
.read-more {
    font-size: 20px;
    color: #7f859d;
    transition: 0.3s;
}
.read-more:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.read-more-symbol {
    font-size: 25px;
    color: #17bed1;
}
